<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="ice.springmvc.mybatis"/>
    </typeAliases>
    <!-- 配置环境，制定数据库连接信息 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:33061/springbootdemo?characterEncoding=utf-8" />
                <property name="username" value="root" />
                <property name="password" value="www1234" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="ice/springmvc/mybatis/MenuMapper.xml"/>
    </mappers>
</configuration>